In [1]:
import pandas as pd
import numpy as np

In [3]:
diabetes_df = pd.read_csv('./dataset/diabetes.csv')

In [5]:
type(diabetes_df)

pandas.core.frame.DataFrame

In [7]:
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [9]:
diabetes_df.shape

(768, 9)

In [11]:
boston_df.to_csv('boston.csv')

NameError: name 'boston_df' is not defined

In [12]:
random_df = pd.DataFrame(np.random.rand(20,10))

In [14]:
random_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.920755,0.284739,0.000982,0.130821,0.250358,0.157882,0.335385,0.792259,0.882090,0.427081
1,0.834158,0.867162,0.035607,0.744755,0.845728,0.491807,0.806153,0.812850,0.784518,0.484415
2,0.269513,0.286051,0.063781,0.825113,0.440658,0.469425,0.944361,0.716893,0.706102,0.270465
3,0.269738,0.866001,0.098503,0.367836,0.288206,0.341329,0.795244,0.402994,0.962389,0.913969
4,0.984989,0.582972,0.883021,0.262071,0.508824,0.927694,0.755403,0.002220,0.782241,0.070216

In [16]:
random_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20 non-null     float64
 1   1       20 non-null     float64
 2   2       20 non-null     float64
 3   3       20 non-null     float64
 4   4       20 non-null     float64
 5   5       20 non-null     float64
 6   6       20 non-null     float64
 7   7       20 non-null     float64
 8   8       20 non-null     float64
 9   9       20 non-null     float64
dtypes: float64(10)
memory usage: 1.7 KB

In [18]:
random_df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [21]:
diabetes_df.value_counts('Outcome')

Outcome
0    500
1    268
Name: count, dtype: int64

In [22]:
diabetes_df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [24]:
diabetes_df.count()

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64