In [2]:
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [4]:
my_list = [2,3,4,1.8,'English',True]
print(my_list)

[2, 3, 4, 1.8, 'English', True]

In [6]:
my_list = [2,3,1.8,'English',True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [8]:
print(my_list[0])
print(my_list[2])

2
1.8

In [10]:
list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [12]:
print(len(list_1))

8

In [14]:
list_2 = []
print(list_2)

[]

In [17]:
list_2.append(5)
print(list_2)

[5, 5]

In [19]:
list_2 = [2,3,1.8,'english',True,6]
print(list_2)
del list_2[2]
print(list_2)

[2, 3, 1.8, 'english', True, 6]
[2, 3, 'english', True, 6]

In [21]:
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]
list_5 = list_3+list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [26]:
tuple_2=(1,2,3.5,'Machine Learning',False)
print(tuple_2)

(1, 2, 3.5, 'Machine Learning', False)

In [29]:
my_list = [3,4,5,6]
print(my_list)
my_tuple=tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [32]:
print(my_tuple[0])
print(my_tuple[1])

3
4

In [34]:
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [36]:
print(len(my_tuple))

4

In [38]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [40]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [42]:
list_5 = [4,5,6,7,8]
x=set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [44]:
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

In [46]:
my_dictionary = {'name':'david','age':30,'country':'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'david', 'age': 30, 'country': 'India'}

dict

In [49]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

david
30
India

In [50]:
dictionary_2 = {'name':'David','age':30}
print(dictionary_2)

{'name': 'David', 'age': 30}