### Operator

In [3]:
num_1 = 20
num_2 =10
sum = num_1 + num_2 
print('sum = ',sum)
diff = num_1 - num_2
print('difference = ',diff)
pro = num_1 * num_2
print('product = ',pro)
quo = num_1 /num_2
print('quotient = ',quo)

sum =  30
difference =  10
product =  200
quotient =  2.0

In [5]:
a=5
a+=5
print(a)

10

In [7]:
b = 5
b-=2
print(b)

3

In [9]:
a =5
b=10
print(a ==b)
print(a != b)
print(a > b)
print(a < b)
print(a <= b)
print(a >= b)

False
True
False
True
True
False

In [11]:
a=10
print(a>20 and a>5)
print(a>20 or a>5)
print(not(a>8 and a>5))

False
True
False

In [13]:
x=5
y=5

print(x is y)

True

In [15]:
x= 5
y=10
print(x is y)

False

In [17]:
x=5
y=10
print(x is not y)

True

In [20]:
a=5
b=10
c=[1,2,3,4,5]
print(a in c)
print(b in c)

True
False

In [21]:
a = 5
b = 10